<div id = "movie1">
        <img mat-card-image id = 'img1' src = "https://image.tmdb.org/t/p/w500/{{dataMovie.results[0].poster_path}}">
    <p id = 'title'>{{dataMovie.results[0].title}}</p>
    <p id = 'release'>{{dataMovie.results[0].release_date}}</p>
    <p id = 'overview'>{{dataMovie.results[0].overview}}</p>
</div>

<div id = "movie2">
        <img mat-card-image src = "https://image.tmdb.org/t/p/w500/{{dataMovie.results[1].poster_path}}">
    <p>{{dataMovie.results[1].title}}</p>
    <p>{{dataMovie.results[1].release_date}}</p>
    <p>{{dataMovie.results[1].overview}}</p>
</div>

<div id = "movie3">
        <img mat-card-image src = "https://image.tmdb.org/t/p/w500/{{dataMovie.results[2].poster_path}}">
    <p>{{dataMovie.results[2].title}}</p>
    <p>{{dataMovie.results[2].release_date}}</p>
    <p>{{dataMovie.results[2].overview}}</p>
</div>

<div id = "movie4">
        <img mat-card-image src = "https://image.tmdb.org/t/p/w500/{{dataMovie.results[3].poster_path}}">
    <p>{{dataMovie.results[3].title}}</p>
    <p>{{dataMovie.results[3].release_date}}</p>
    <p>{{dataMovie.results[3].overview}}</p>
</div>

<div id = "movie5">
        <img mat-card-image src = "https://image.tmdb.org/t/p/w500/{{dataMovie.results[4].poster_path}}">
    <p>{{dataMovie.results[4].title}}</p>
    <p>{{dataMovie.results[4].release_date}}</p>
    <p>{{dataMovie.results[4].overview}}</p>
</div>

<div id = "movie6">
        <img mat-card-image src = "https://image.tmdb.org/t/p/w500/{{dataMovie.results[5].poster_path}}">
    <p>{{dataMovie.results[5].title}}</p>
    <p>{{dataMovie.results[5].release_date}}</p>
    <p>{{dataMovie.results[5].overview}}</p>
</div>


