#movie1 {
    display: block;
    border: 5px solid #333;
    overflow: auto
}
#movie2 {
    display: block;
    border: 5px solid #333;
    overflow: auto
}
#movie3 {
    display: block;
    border: 5px solid #333;
    overflow: auto
}
#movie4 {
    display: block;
    border: 5px solid #333;
    overflow: auto
}
#movie5 {
    display: block;
    border: 5px solid #333;
    overflow: auto
}
#movie6 {
    display: block;
    border: 5px solid #333;
    overflow: auto
}
